[submodule "references/asio-standalone"]
	path = references/asio-standalone
	url = https://github.com/chriskohlhoff/asio.git
[submodule "references/Simple-WebSocket-Server"]
	path = references/Simple-WebSocket-Server
	url = https://gitlab.com/adamyg/Simple-WebSocket-Server.git
[submodule "references/Simple-Web-Server"]
	path = references/Simple-Web-Server
	url = https://gitlab.com/adamyg/Simple-Web-Server.git

