.makelib/
include/
objects.*/
ref/
old/
lib.*/
bin.*/
*.ref/
objects*/
msvc*/
tarballs/
CVS/
.vscode/
Makefile
.created
.#*
wd*.bat
*.00*
*.o
*.obj
*.a
*.lo
*.la
*~
*.err
*.mbr
*.log
*.old
*.sav
*.bak
*.orig
*.org
*.bat
